@use "../../custom" as *;
@use "../../components/mixins" as *;

nav {
  background-color: $dark-purple;
  .navbar-brand{
    font-size: 2.25rem;
    color: white;
  }
  .container-fluid {
    padding: 1rem 10rem;
  }
  @media screen and (max-width: 1250px){
    .container-fluid{
      padding: 1rem 7rem;
    }
  }

  .dropdown-menu{
    width: 300px;
    height: 300px;
    .dropdown-item{
      font-size: 1.5rem;
    }
  }
  

  .offcanvas {
    .offcanvas-title {
     color: white;
     font-size: 2rem;
    }
    .nav-link {
      opacity: 90%;
      font-size: 2.25rem;
      color: white;
    }

    .nav-link:hover {
      opacity: 100%;
    }
    background-color: $dark-purple;
    .offcanvas-title {
      font-family: "Oswald", sans-serif;
    }

    .nav-link:hover {
      color: $peach-orange;
    }
    .dropdown-toggle {
      color: white;
    }
    .dropdown-menu {
      background-color: $dark-purple;
      border: 2px solid white;
      .dropdown-item {
        color: white;
      }

      .dropdown-divider {
        border-bottom: 2px solid white;
      }

      .dropdown-item:hover {
        color: $peach-orange;
        background-color: $dark-purple;
        transition: 600ms ease;
      }
    }
  }
}
